#.project
.settings
.classpath
standalone/**
build.debug.xml
.idea
*.iml
# /
**/bin
**/eclipse-target
/build
/target
/reports
/*.zip
/*.tar.gz
/*.tar.bz2
/transaction.log

# /
/build
/target
/reports
/*.zip
/*.tar.gz
/*.tar.bz2
/transaction.log

# /lib/
/lib/*.jar
/lib/standalone
/lib/test
/lib/qe
/lib/sjc
/lib/common
/lib/embedded
/lib/jetty
/lib/**

common/src/main/resources/schema/connector_1_0.xsd
common/src/test/resources/todo/
logtest
${test.dir}/
.checkstyle

target

.vscode
.project
