# Gradle work directory
.gradle

# Build output directories
**/build

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
eclipse-target

# Idea specific files/directories
*.iml
.idea
/lib
/target

/build/

# Version file
core/src/main/java/org/ironjacamar/Version.java
