<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Build Category"
            id="ironjacamar-eclipse.commands.category">
      </category>
      <command
            name="Validate"
            categoryId="ironjacamar-eclipse.commands.category"
            id="ironjacamar-eclipse.commands.validateCommand">
      </command>
      <command
            name="Deploy"
            categoryId="ironjacamar-eclipse.commands.category"
            id="ironjacamar-eclipse.commands.deployCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ironjacamar-eclipse.commands.validateCommand"
            class="org.jboss.jca.eclipse.command.ValidateHandler">
      </handler>
      <handler
            commandId="ironjacamar-eclipse.commands.deployCommand"
            class="org.jboss.jca.eclipse.command.DeployHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ironjacamar-eclipse.commands.validateCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ironjacamar-eclipse.commands.deployCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="IronJacamar"
               mnemonic="M"
               id="ironjacamar-eclipse.popup.ironjacamar">
            <command
                  commandId="ironjacamar-eclipse.commands.validateCommand"
                  mnemonic="V"
                  id="ironjacamar-eclipse.menus.validateCommand">
            </command>
            <command
                  commandId="ironjacamar-eclipse.commands.deployCommand"
                  mnemonic="D"
                  id="ironjacamar-eclipse.menus.deployCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ironjacamar-eclipse.toolbars.buildToolbar">
            <command
                  commandId="ironjacamar-eclipse.commands.validateCommand"
                  icon="icons/validation_icon_16px.png"
                  tooltip="Validate Ironjacamar project"
                  id="ironjacamar-eclipse.toolbars.validateCommand">
            </command>
            <command
                  commandId="ironjacamar-eclipse.commands.deployCommand"
                  icon="icons/deploy_icon_16px.png"
                  tooltip="Deploy Ironjacamar project"
                  id="ironjacamar-eclipse.toolbars.deployCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Ironjcamar"
            id="org.jboss.jca.eclipse.wizards.category">
      </category>
      <wizard
            name="IronJacamar 1.1 project"
            icon="icons/ironjacamar_icon_64px.png"
            category="org.jboss.jca.eclipse.wizards.category"
            hasPages="true"     
            class="org.jboss.jca.eclipse.wizards.CodeGenWizard"
            id="org.jboss.jca.eclipse.wizards.CodeGenWizard"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.jca.eclipse.preferences.IronJacamarPreferencePage"
            id="org.jboss.jca.eclipse.preferences.IronJacamarPreferencePage"
            name="IronJacamar">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jboss.jca.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
