<plugin>
  <description></description>
  <groupId>org.jboss.ironjacamar</groupId>
  <artifactId>ironjacamar-sjc</artifactId>
  <version>@VERSION.IRONJACAMAR@</version>
  <goalPrefix>ironjacamar</goalPrefix>
  <isolatedRealm>false</isolatedRealm>
  <inheritedByDefault>true</inheritedByDefault>
  <mojos>
    <mojo>
      <goal>start</goal>
      <description>Start IronJacamar</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>false</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.jboss.jca.sjc.maven.Start</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>home</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>The home directory</description>
        </parameter>
      </parameters>
    </mojo>
    <mojo>
      <goal>stop</goal>
      <description>Stop IronJacamar</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>false</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.jboss.jca.sjc.maven.Stop</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>home</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>The home directory</description>
        </parameter>
      </parameters>
    </mojo>
    <mojo>
      <goal>deploy</goal>
      <description>Deploy to IronJacamar</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>false</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.jboss.jca.sjc.maven.Deploy</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>host</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>The host name; default to localhost</description>
        </parameter>
        <parameter>
          <name>port</name>
          <type>int</type>
          <required>false</required>
          <editable>true</editable>
          <description>The port; default to 1202</description>
        </parameter>
        <parameter>
          <name>file</name>
          <type>java.io.File</type>
          <required>true</required>
          <editable>true</editable>
          <description>The file</description>
        </parameter>
      </parameters>
    </mojo>
    <mojo>
      <goal>undeploy</goal>
      <description>Undeploy from IronJacamar</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>false</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.jboss.jca.sjc.maven.Undeploy</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>host</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>The host name; default to localhost</description>
        </parameter>
        <parameter>
          <name>port</name>
          <type>int</type>
          <required>false</required>
          <editable>true</editable>
          <description>The port; default to 1202</description>
        </parameter>
        <parameter>
          <name>file</name>
          <type>java.io.File</type>
          <required>true</required>
          <editable>true</editable>
          <description>The file</description>
        </parameter>
      </parameters>
    </mojo>
    <mojo>
      <goal>ping</goal>
      <description>Ping IronJacamar</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>false</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.jboss.jca.sjc.maven.Ping</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>host</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>The host name; default to localhost</description>
        </parameter>
        <parameter>
          <name>port</name>
          <type>int</type>
          <required>false</required>
          <editable>true</editable>
          <description>The port; default to 1202</description>
        </parameter>
      </parameters>
    </mojo>
  </mojos>
</plugin>
