package ${package.name};
import javax.resource.spi.ResourceAdapter;
import org.jboss.logging.Logger;
/**
 * ${class.name}
 */
public class ${class.name} implements ResourceAdapter
{
   private static Logger log = Logger.getLogger(${class.name}.class);
}