<ironjacamar xmlns="http://www.jboss.org/ironjacamar/schema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.jboss.org/ironjacamar/schema 
             http://www.jboss.org/ironjacamar/schema/ironjacamar_1_1.xsd">
${ra.props}
  <transaction-support>${transaction}</transaction-support>
  
${mcfs}
${adminobjects}
</ironjacamar>
