<deployment>

  <!-- Web Server -->
  <bean name="WebServer" class="org.jboss.jca.web.WebServer">
    <property name="host">${iron.jacamar.bindaddress:localhost}</property>
    <property name="port">8080</property>
    <property name="executorService"><inject bean="Kernel" property="ExecutorService"/></property>
  </bean>

  <!-- WAR deployer -->
  <bean name="WARDeployer" class="org.jboss.jca.web.WARDeployer">
    <property name="WebServer"><inject bean="WebServer"/></property>
    <depends>WebServer</depends>
  </bean>

  <!-- JNDI viewer -->
  <bean name="JNDIViewer" class="org.jboss.jca.web.JNDIViewer">
    <property name="MBeanServer"><inject bean="Kernel" property="MBeanServer"/></property>
    <property name="Domain"><inject bean="Kernel" property="Name"/></property>
  </bean>

</deployment>
